<%- partial('_partial/head') %>
<body>
  
  <% if(theme.toolbox && theme.toolbox.isShow == true && page.base !== '') { %>
    <span id="toolbox-mobile" class="toolbox-mobile"><%=  theme.toolbox.text %></span>
  <% } %>

  <%- body %>

  <%- partial('_partial/component/modal') %>


  <% if (theme.post.showComments && page.layout === 'post'){ %>
    <%- partial('_partial/component/comments', {className: 'comments-post'}) %>
  <% } else if (page.comments) { %>
    <%- partial('_partial/component/comments', {className: 'comments-' + page.layout}) %>
  <% } %>

  <%- partial('_partial/load-script') %>

  <!-- 页面点击小红心 -->
  <script type="text/javascript" src="/js/clicklove.js"></script>
 
  <% if(theme.home_bg && theme.home_bg.lizi) { %>
    <script type="text/javascript" src="/js/bg/lizi.js"></script>
  <% } else if (theme.home_bg && theme.home_bg.yu) { %>
    <script type="text/javascript" src="/js/bg/yu.js"></script>
  <% } else if (theme.home_bg && theme.home_bg.star) { %>
    <script type="text/javascript" src="/js/bg/star.js"></script>
  <% } else if (theme.home_bg && theme.home_bg.sky) { %>
    <script type="text/javascript" src="/js/bg/sky.js"></script>
  <% } %>

</body>
</html>
